*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header i{
    display: none;
}
.header{
    width: 100%;
    height: 10.63rem;
    padding: 1.25rem 11.43rem 1.25rem 11.43rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Open Sans;
    border-bottom: 1px solid rgb(220, 220, 220);
}
.header a{
    text-decoration: none;
    color: black;
}
.header a:hover{
    color: orange;
    text-shadow: 1px 1px 0px rgba(255, 111, 0, 0.992);
}
.header ul {
    width: 32rem;
    display: flex;
    justify-content: space-between;
}
.header li {
    list-style: none;
    color: rgb(51, 51, 51);
    font-weight: 600;
    line-height: 1.69rem;
    cursor: pointer;
}
.language_my-account{
    display: flex;
    width: 13.5rem;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
}
.language_my-account select{
    border: none;
    color: rgb(51, 51, 51);
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.69rem;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    border: 1px solid rgb(213, 213, 213);
    color: black;
    padding: 0.8rem 1rem;
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.my_tickets-title{
    margin: 5rem 0rem 2rem 11.43rem;
    color: rgb(51, 51, 51);
    font-family: Open Sans;
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 2.75rem;
}
.main_my-tickets{
    padding: 1.25rem 11.43rem 1.25rem 11.43rem;
    margin-bottom: 6rem;
    height: 27rem;
}
.start_trip-img-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 27rem;
}
.start_trip-text{
    color: rgb(51, 51, 51);
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.69rem;
}
.tour_table{
    height: 23rem;
    width: 100%;
    box-sizing: border-box;
    border: 0.06rem solid #d5d5d5;
    border-collapse: collapse;
}
.wine_tasting-ticket{
    width: 30rem;
    display: flex;
    gap: 1rem;
}
.name_time-date{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
.tour_ticket-name{
    color: rgb(51, 51, 51);
    font-family: Open Sans;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.06rem;
}
.payment_method , .tour_ticket-date , .tour_ticket-time ,.status,.tour_ticket-price{
    color: rgb(51, 51, 51);
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.56rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}
table th {
    padding-top: 0.3rem;
    color: rgb(51, 51, 51);
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.69rem;
}
td{
    padding:0rem  3rem;
}
tr{
   border-bottom: 1px solid #cecece;
}
tr.last{
   border-bottom: none;
}
.none{
    display: none;
}
.home_page-slider{
    margin: 5rem 0rem;
    display: flex;
    flex-direction: column;
    padding: 1.25rem 11.43rem 1.25rem 11.43rem;
    gap: 3rem;
}
.left_arrow{
    position: absolute;
    right: 3.8rem;
    top: 0rem;
    bottom: 5rem;
    z-index: 1;
    border-radius: 50%;
    border: 1px solid rgb(180, 180, 180);
}
.right_arrow{
    position: absolute;
    top: 0rem;
    right: 0.4rem;
  }
.homepage_slider-first-part p{
    color: rgb(51, 51, 51);
    font-family: Open Sans;
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 2.75rem;
    text-align: center;
}
.homepage_slider-second-part{
    padding: 5rem 0rem 0rem 0rem;
}
.slider_tour-package{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 16rem;
    height: 35rem;
    padding: 0rem 1rem;
}
.tour_package-img{
    width: 16rem;
}
.tour_package-name{
    color: rgb(51, 51, 51);
    font-family: Open Sans;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.06rem;
}
.tour_package-price{
    font-family: open Sans;
}
.tour_package-price span{
    color: rgb(250, 139, 2);
    font-family: Open Sans;
    font-size: 1.3rem;
    font-weight: 800;
    line-height: 2.06rem;
    margin-left: 0.5rem;
}
.tour_package-date-person{
    display: flex;
    justify-content: space-between;
}
.tour_package-date , .tour_package-person{
    display: flex;
    color: rgb(250, 139, 2);
    font-family: Open Sans;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.38rem;
    gap: 0.5rem;
}
.tour_package-information{
    color: rgb(51, 51, 51);
    font-family: Open Sans;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.63rem;
}
.read_more{
    cursor: pointer;
    display: flex;
    color: rgb(250, 139, 2);
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.56rem;
    gap: 0.7rem;
}
@media screen and (max-width:992px){
    .menu_part, .language_my-account{
        display: none;
    }
    .header i{
        display: block;
        font-size: 2.5rem;
        color: rgb(114, 114, 114);
    }
    .header{
        padding: 2rem 7rem;
    }
    .main_my-tickets{
        padding: 2rem;
    }
    td{
        padding: 0rem;
    }
    .home_page-slider{
        padding: 0rem;
    }
    .tour_package-information{
        width: 15rem;
    }
    .tour_package-date-person{
        width: 15rem;
    }
}
